@charset "UTF-8";
/* How tu use this mixin:
 * include on the parent container argumemts are as follows:
 * 1. selector: add the complete css selector, as a string
 * 2. items per row: how many items are in a row max.
 * 3++. to make this responsive add breakpoints, separating with a comma, the mixin automatically reduces by 1.
 */
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-black.woff2") format("woff2"), url("../fonts/worksans/worksans-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-bold.woff2") format("woff2"), url("../fonts/worksans/worksans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-extrabold.woff2") format("woff2"), url("../fonts/worksans/worksans-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-extralight.woff2") format("woff2"), url("../fonts/worksans/worksans-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-hairline.woff2") format("woff2"), url("../fonts/worksans/worksans-hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-light.woff2") format("woff2"), url("../fonts/worksans/worksans-light.woff") format("woff");
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-medium.woff2") format("woff2"), url("../fonts/worksans/worksans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-regular.woff2") format("woff2"), url("../fonts/worksans/worksans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
.backtotop, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

img {
  max-width: 100%;
  height: auto; }

body {
  max-width: 100%;
  height: auto;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #f2f2f2; }
  body header,
  body main,
  body footer {
    width: 100%;
    max-width: 1920px;
    margin-left: auto !important;
    margin-right: auto !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body .box {
    background: white; }

.box {
  margin: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

section.box {
  margin-top: 0;
  margin-bottom: 0; }

.main {
  margin: 100px 0; }

figure {
  padding-bottom: 5px; }

html, body {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.375;
  color: #747D84; }

p {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  p + p {
    margin-top: 1.25rem; }

.numbered {
  counter-reset: h1; }
  .numbered h1 {
    counter-reset: h2; }
    .numbered h1.nocount:before {
      content: "";
      counter-increment: none; }
    .numbered h1:before {
      counter-increment: h1;
      content: counter(h1) "." " "; }
  .numbered h2 {
    counter-reset: h3; }
    .numbered h2.nocount:before {
      content: "";
      counter-increment: none; }
    .numbered h2:before {
      counter-increment: h2;
      content: counter(h1) "." counter(h2) "." " "; }
  .numbered h3 {
    counter-reset: h4; }
    .numbered h3.nocount:before {
      content: "";
      counter-increment: none; }
    .numbered h3:before {
      counter-increment: h3;
      content: counter(h1) "." counter(h2) "." counter(h3) "." " "; }
  .numbered h4 {
    counter-reset: h5; }
    .numbered h4.nocount:before {
      content: "";
      counter-increment: none; }
    .numbered h4:before {
      counter-increment: h4;
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." " "; }
  .numbered h5 {
    counter-reset: h6; }
    .numbered h5.nocount:before {
      content: "";
      counter-increment: none; }
    .numbered h5:before {
      counter-increment: h5;
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." " "; }
  .numbered h6 {
    counter-reset: h7; }
    .numbered h6.nocount:before {
      content: "";
      counter-increment: none; }
    .numbered h6:before {
      counter-increment: h6;
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) "." " "; }

h1 {
  font-family: "Work Sans", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-family: "Work Sans", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h3 {
  font-family: "Work Sans", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h4 {
  font-family: "Work Sans", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h5 {
  font-family: "Work Sans", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h6 {
  font-family: "Work Sans", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h1 {
  font-size: 3em;
  line-height: 1.05;
  color: #747D84;
  margin-bottom: 2.5rem; }

h2 {
  font-size: 2.25em;
  line-height: 1.25;
  margin-bottom: 1.25rem; }

h3 {
  font-size: 1.75em;
  line-height: 1.25;
  margin-bottom: 1.25rem; }

h4 {
  font-size: 1.125em;
  line-height: 1.22;
  margin-bottom: .5rem;
  font-weight: normal; }

h5 {
  font-size: 1.1em;
  margin-bottom: .3rem;
  font-weight: normal; }

h6 {
  font-size: 1em;
  margin-bottom: .25rem;
  font-weight: normal; }

a, .backtotop,
.toggle {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #968572;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .backtotop:hover,
  .toggle:hover {
    color: #968572;
    text-decoration: underline; }

blockquote {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.4583;
  display: block;
  position: relative;
  margin: 0px auto;
  text-align: right;
  color: #968572;
  border-right: 3px solid currentColor;
  padding: 10px;
  padding-right: 20px;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem; }

.text-black {
  color: black; }

.text-white {
  color: white; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-hyphen {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.text-no-hyphen {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

.text-highlighted {
  background: #968572;
  color: black; }

.text-small {
  font-size: .8em; }

.text-muted {
  opacity: .5; }

.text-lead {
  font-weight: bold;
  margin-bottom: 1.25rem; }

figcaption {
  font-style: italic;
  margin-bottom: 1.25rem;
  margin-top: .5rem; }

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas: "head""main""foot";
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  body .head {
    grid-area: head; }
  body .main {
    grid-area: main; }
  body .foot {
    grid-area: foot; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .grid .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
  .grid .item-span-1 {
    grid-column-start: auto;
    grid-column-end: span 1; }
  .grid .item-span-sm-1,
  .grid .item-span-md-1,
  .grid .item-span-lg-1 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-2 {
    grid-column-start: auto;
    grid-column-end: span 2; }
  .grid .item-span-sm-2,
  .grid .item-span-md-2, .grid section .oversized .sidestory, .grid section .has-sidestory .sidestory,
  .grid .item-span-lg-2 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-3 {
    grid-column-start: auto;
    grid-column-end: span 3; }
  .grid .item-span-sm-3,
  .grid .item-span-md-3,
  .grid .item-span-lg-3 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-4, .grid section blockquote {
    grid-column-start: auto;
    grid-column-end: span 4; }
  .grid .item-span-sm-4,
  .grid .item-span-md-4,
  .grid .item-span-lg-4 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-5 {
    grid-column-start: auto;
    grid-column-end: span 5; }
  .grid .item-span-sm-5,
  .grid .item-span-md-5,
  .grid .item-span-lg-5 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-6, .grid section .oversized div, .grid section .oversized figcaption, .grid section .oversized p, .grid section .has-sidestory div, .grid section .has-sidestory figcaption, .grid section .has-sidestory p, .grid section h1, .grid section h2, .grid section h3, .grid section h4, .grid section h5, .grid section h6, .grid section p, .grid section img, .grid section .content-wide, .grid section .slider-wrap, .grid section .video-wrap {
    grid-column-start: auto;
    grid-column-end: span 6; }
  .grid .item-span-sm-6,
  .grid .item-span-md-6, .grid section.full-width figcaption, .grid section.full-width p, .grid section .full-width figcaption, .grid section .full-width p,
  .grid .item-span-lg-6 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-7 {
    grid-column-start: auto;
    grid-column-end: span 7; }
  .grid .item-span-sm-7,
  .grid .item-span-md-7,
  .grid .item-span-lg-7 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-8, .grid section .oversized, .grid section .has-sidestory, .grid section h1.large, .grid section h2.large, .grid section h3.large, .grid section h4.large, .grid section h5.large, .grid section h6.large, .grid section p.large, .grid section img.large, .grid section .content-wide.large, .grid section .slider-wrap.large, .grid section .video-wrap.large {
    grid-column-start: auto;
    grid-column-end: span 8; }
  .grid .item-span-sm-8,
  .grid .item-span-md-8, .grid section, .grid section .oversized img, .grid section .has-sidestory img,
  .grid .item-span-lg-8 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-9 {
    grid-column-start: auto;
    grid-column-end: span 9; }
  .grid .item-span-sm-9,
  .grid .item-span-md-9,
  .grid .item-span-lg-9 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-10 {
    grid-column-start: auto;
    grid-column-end: span 10; }
  .grid .item-span-sm-10,
  .grid .item-span-md-10,
  .grid .item-span-lg-10 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-11 {
    grid-column-start: auto;
    grid-column-end: span 11; }
  .grid .item-span-sm-11,
  .grid .item-span-md-11,
  .grid .item-span-lg-11 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-12, .grid .fullscreen {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-sm-12,
  .grid .item-span-md-12, .grid section.full-width, .grid section .full-width, .grid section.full-width figure, .grid section.full-width iframe, .grid section.full-width video, .grid section.full-width .video-wrap, .grid section.full-width .over-video, .grid section .full-width figure, .grid section .full-width iframe, .grid section .full-width video, .grid section .full-width .video-wrap, .grid section .full-width .over-video,
  .grid .item-span-lg-12 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-offset-0, .grid section.full-width, .grid section .full-width, .grid section.full-width figure, .grid section.full-width iframe, .grid section.full-width video, .grid section.full-width .video-wrap, .grid section.full-width .over-video, .grid section .full-width figure, .grid section .full-width iframe, .grid section .full-width video, .grid section .full-width .video-wrap, .grid section .full-width .over-video, .grid section h1.large, .grid section h2.large, .grid section h3.large, .grid section h4.large, .grid section h5.large, .grid section h6.large, .grid section p.large, .grid section img.large, .grid section .content-wide.large, .grid section .slider-wrap.large, .grid section .video-wrap.large {
    grid-column-start: 1; }
  .grid .item-offset-sm-1,
  .grid .item-offset-md-1,
  .grid .item-offset-lg-1 {
    grid-column-start: auto; }
  .grid .item-offset-1, .grid section .oversized div, .grid section .oversized figcaption, .grid section .oversized p, .grid section .has-sidestory div, .grid section .has-sidestory figcaption, .grid section .has-sidestory p, .grid section h1, .grid section h2, .grid section h3, .grid section h4, .grid section h5, .grid section h6, .grid section p, .grid section img, .grid section .content-wide, .grid section .slider-wrap, .grid section .video-wrap {
    grid-column-start: 2; }
  .grid .item-offset-sm-2,
  .grid .item-offset-md-2, .grid section, .grid section.full-width figcaption, .grid section.full-width p, .grid section .full-width figcaption, .grid section .full-width p,
  .grid .item-offset-lg-2 {
    grid-column-start: auto; }
  .grid .item-offset-2 {
    grid-column-start: 3; }
  .grid .item-offset-sm-3,
  .grid .item-offset-md-3,
  .grid .item-offset-lg-3 {
    grid-column-start: auto; }
  .grid .item-offset-3 {
    grid-column-start: 4; }
  .grid .item-offset-sm-4,
  .grid .item-offset-md-4,
  .grid .item-offset-lg-4 {
    grid-column-start: auto; }
  .grid .item-offset-4 {
    grid-column-start: 5; }
  .grid .item-offset-sm-5,
  .grid .item-offset-md-5,
  .grid .item-offset-lg-5 {
    grid-column-start: auto; }
  .grid .item-offset-5 {
    grid-column-start: 6; }
  .grid .item-offset-sm-6,
  .grid .item-offset-md-6,
  .grid .item-offset-lg-6 {
    grid-column-start: auto; }
  .grid .item-offset-6 {
    grid-column-start: 7; }
  .grid .item-offset-sm-7,
  .grid .item-offset-md-7,
  .grid .item-offset-lg-7 {
    grid-column-start: auto; }
  .grid .item-offset-7 {
    grid-column-start: 8; }
  .grid .item-offset-sm-8,
  .grid .item-offset-md-8,
  .grid .item-offset-lg-8 {
    grid-column-start: auto; }
  .grid .item-offset-8 {
    grid-column-start: 9; }
  .grid .item-offset-sm-9,
  .grid .item-offset-md-9,
  .grid .item-offset-lg-9 {
    grid-column-start: auto; }
  .grid .item-offset-9 {
    grid-column-start: 10; }
  .grid .item-offset-sm-10,
  .grid .item-offset-md-10,
  .grid .item-offset-lg-10 {
    grid-column-start: auto; }
  .grid .item-offset-10 {
    grid-column-start: 11; }
  .grid .item-offset-sm-11,
  .grid .item-offset-md-11,
  .grid .item-offset-lg-11 {
    grid-column-start: auto; }
  .grid .item-offset-11 {
    grid-column-start: 12; }
  .grid .item-offset-sm-12,
  .grid .item-offset-md-12,
  .grid .item-offset-lg-12 {
    grid-column-start: auto; }
  @media screen and (min-width: 600px) {
    .grid .item-span-sm-1 {
      grid-column-start: auto;
      grid-column-end: span 1; }
    .grid .item-span-sm-2 {
      grid-column-start: auto;
      grid-column-end: span 2; }
    .grid .item-span-sm-3 {
      grid-column-start: auto;
      grid-column-end: span 3; }
    .grid .item-span-sm-4 {
      grid-column-start: auto;
      grid-column-end: span 4; }
    .grid .item-span-sm-5 {
      grid-column-start: auto;
      grid-column-end: span 5; }
    .grid .item-span-sm-6 {
      grid-column-start: auto;
      grid-column-end: span 6; }
    .grid .item-span-sm-7 {
      grid-column-start: auto;
      grid-column-end: span 7; }
    .grid .item-span-sm-8 {
      grid-column-start: auto;
      grid-column-end: span 8; }
    .grid .item-span-sm-9 {
      grid-column-start: auto;
      grid-column-end: span 9; }
    .grid .item-span-sm-10 {
      grid-column-start: auto;
      grid-column-end: span 10; }
    .grid .item-span-sm-11 {
      grid-column-start: auto;
      grid-column-end: span 11; }
    .grid .item-span-sm-12 {
      grid-column-start: auto;
      grid-column-end: span 12; }
    .grid .item-offset-sm-0 {
      grid-column-start: 1; }
    .grid .item-offset-sm-1 {
      grid-column-start: 2; }
    .grid .item-offset-sm-2 {
      grid-column-start: 3; }
    .grid .item-offset-sm-3 {
      grid-column-start: 4; }
    .grid .item-offset-sm-4 {
      grid-column-start: 5; }
    .grid .item-offset-sm-5 {
      grid-column-start: 6; }
    .grid .item-offset-sm-6 {
      grid-column-start: 7; }
    .grid .item-offset-sm-7 {
      grid-column-start: 8; }
    .grid .item-offset-sm-8 {
      grid-column-start: 9; }
    .grid .item-offset-sm-9 {
      grid-column-start: 10; }
    .grid .item-offset-sm-10 {
      grid-column-start: 11; }
    .grid .item-offset-sm-11 {
      grid-column-start: 12; } }
  @media screen and (min-width: 960px) {
    .grid .item-span-md-1 {
      grid-column-start: auto;
      grid-column-end: span 1; }
    .grid .item-span-md-2, .grid section .oversized .sidestory, .grid section .has-sidestory .sidestory {
      grid-column-start: auto;
      grid-column-end: span 2; }
    .grid .item-span-md-3 {
      grid-column-start: auto;
      grid-column-end: span 3; }
    .grid .item-span-md-4 {
      grid-column-start: auto;
      grid-column-end: span 4; }
    .grid .item-span-md-5 {
      grid-column-start: auto;
      grid-column-end: span 5; }
    .grid .item-span-md-6, .grid section.full-width figcaption, .grid section.full-width p, .grid section .full-width figcaption, .grid section .full-width p {
      grid-column-start: auto;
      grid-column-end: span 6; }
    .grid .item-span-md-7 {
      grid-column-start: auto;
      grid-column-end: span 7; }
    .grid .item-span-md-8, .grid section, .grid section .oversized img, .grid section .has-sidestory img {
      grid-column-start: auto;
      grid-column-end: span 8; }
    .grid .item-span-md-9 {
      grid-column-start: auto;
      grid-column-end: span 9; }
    .grid .item-span-md-10 {
      grid-column-start: auto;
      grid-column-end: span 10; }
    .grid .item-span-md-11 {
      grid-column-start: auto;
      grid-column-end: span 11; }
    .grid .item-span-md-12, .grid section.full-width, .grid section .full-width, .grid section.full-width figure, .grid section.full-width iframe, .grid section.full-width video, .grid section.full-width .video-wrap, .grid section.full-width .over-video, .grid section .full-width figure, .grid section .full-width iframe, .grid section .full-width video, .grid section .full-width .video-wrap, .grid section .full-width .over-video {
      grid-column-start: auto;
      grid-column-end: span 12; }
    .grid .item-offset-md-0 {
      grid-column-start: 1; }
    .grid .item-offset-md-1 {
      grid-column-start: 2; }
    .grid .item-offset-md-2, .grid section, .grid section.full-width figcaption, .grid section.full-width p, .grid section .full-width figcaption, .grid section .full-width p {
      grid-column-start: 3; }
    .grid .item-offset-md-3 {
      grid-column-start: 4; }
    .grid .item-offset-md-4 {
      grid-column-start: 5; }
    .grid .item-offset-md-5 {
      grid-column-start: 6; }
    .grid .item-offset-md-6 {
      grid-column-start: 7; }
    .grid .item-offset-md-7 {
      grid-column-start: 8; }
    .grid .item-offset-md-8 {
      grid-column-start: 9; }
    .grid .item-offset-md-9 {
      grid-column-start: 10; }
    .grid .item-offset-md-10 {
      grid-column-start: 11; }
    .grid .item-offset-md-11 {
      grid-column-start: 12; } }
  @media screen and (min-width: 1260px) {
    .grid .item-span-lg-1 {
      grid-column-start: auto;
      grid-column-end: span 1; }
    .grid .item-span-lg-2 {
      grid-column-start: auto;
      grid-column-end: span 2; }
    .grid .item-span-lg-3 {
      grid-column-start: auto;
      grid-column-end: span 3; }
    .grid .item-span-lg-4 {
      grid-column-start: auto;
      grid-column-end: span 4; }
    .grid .item-span-lg-5 {
      grid-column-start: auto;
      grid-column-end: span 5; }
    .grid .item-span-lg-6 {
      grid-column-start: auto;
      grid-column-end: span 6; }
    .grid .item-span-lg-7 {
      grid-column-start: auto;
      grid-column-end: span 7; }
    .grid .item-span-lg-8 {
      grid-column-start: auto;
      grid-column-end: span 8; }
    .grid .item-span-lg-9 {
      grid-column-start: auto;
      grid-column-end: span 9; }
    .grid .item-span-lg-10 {
      grid-column-start: auto;
      grid-column-end: span 10; }
    .grid .item-span-lg-11 {
      grid-column-start: auto;
      grid-column-end: span 11; }
    .grid .item-span-lg-12 {
      grid-column-start: auto;
      grid-column-end: span 12; }
    .grid .item-offset-lg-0 {
      grid-column-start: 1; }
    .grid .item-offset-lg-1 {
      grid-column-start: 2; }
    .grid .item-offset-lg-2 {
      grid-column-start: 3; }
    .grid .item-offset-lg-3 {
      grid-column-start: 4; }
    .grid .item-offset-lg-4 {
      grid-column-start: 5; }
    .grid .item-offset-lg-5 {
      grid-column-start: 6; }
    .grid .item-offset-lg-6 {
      grid-column-start: 7; }
    .grid .item-offset-lg-7 {
      grid-column-start: 8; }
    .grid .item-offset-lg-8 {
      grid-column-start: 9; }
    .grid .item-offset-lg-9 {
      grid-column-start: 10; }
    .grid .item-offset-lg-10 {
      grid-column-start: 11; }
    .grid .item-offset-lg-11 {
      grid-column-start: 12; } }
  .grid .fullscreen {
    height: 100vh;
    background-size: cover;
    background-position: center center; }
  .grid section {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
    .grid section + section {
      border-top: 1px solid #f2f2f2; }
    .grid section:first-of-type {
      padding-top: 120px; }
    .grid section:last-of-type {
      padding-bottom: 120px; }
    .grid section.full-width,
    .grid section .full-width {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      position: relative; }
      .grid section.full-width figure, .grid section.full-width iframe, .grid section.full-width video, .grid section.full-width .video-wrap, .grid section.full-width .over-video,
      .grid section .full-width figure,
      .grid section .full-width iframe,
      .grid section .full-width video,
      .grid section .full-width .video-wrap,
      .grid section .full-width .over-video {
        padding: 0;
        line-height: 1; }
      .grid section.full-width .video-wrap,
      .grid section .full-width .video-wrap {
        margin: 0; }
      .grid section.full-width .over-video,
      .grid section .full-width .over-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); }
      .grid section.full-width figcaption, .grid section.full-width p,
      .grid section .full-width figcaption,
      .grid section .full-width p {
        position: absolute;
        bottom: 10px;
        left: 0; }
    .grid section .oversized,
    .grid section .has-sidestory {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      margin: 10px 0;
      position: relative; }
      .grid section .oversized .sidestory,
      .grid section .has-sidestory .sidestory {
        background: white;
        padding: 20px;
        top: 0;
        width: 100%;
        position: absolute; }
        @media screen and (max-width: 1260px) {
          .grid section .oversized .sidestory,
          .grid section .has-sidestory .sidestory {
            width: 150%; } }
        @media screen and (max-width: 960px) {
          .grid section .oversized .sidestory,
          .grid section .has-sidestory .sidestory {
            width: 100%;
            top: auto;
            position: relative;
            grid-column-start: 2;
            grid-column-end: span 6; } }
        .grid section .oversized .sidestory-left,
        .grid section .has-sidestory .sidestory-left {
          left: 0;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%); }
          @media screen and (max-width: 1260px) {
            .grid section .oversized .sidestory-left,
            .grid section .has-sidestory .sidestory-left {
              -webkit-transform: translate(-67%);
              -ms-transform: translate(-67%);
              transform: translate(-67%); } }
          @media screen and (max-width: 960px) {
            .grid section .oversized .sidestory-left,
            .grid section .has-sidestory .sidestory-left {
              left: auto;
              -webkit-transform: translate(0%);
              -ms-transform: translate(0%);
              transform: translate(0%); } }
        .grid section .oversized .sidestory-right,
        .grid section .has-sidestory .sidestory-right {
          left: 350%; }
          @media screen and (max-width: 960px) {
            .grid section .oversized .sidestory-right,
            .grid section .has-sidestory .sidestory-right {
              left: auto; } }
    .grid section .textoverlay {
      background: black; }
      .grid section .textoverlay img {
        opacity: 0.5; }
      .grid section .textoverlay .overlay-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        color: white;
        font-size: 3.1em;
        line-height: 1.05em;
        font-weight: bold;
        font-style: italic; }
    .grid section blockquote {
      grid-column-start: 4; }

.overlay-open {
  overflow: hidden; }
  .overlay-open main, .overlay-open header, .overlay-open footer, .overlay-open div:not(.overlay) {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98; }

.overlay {
  display: none;
  background: white;
  position: fixed;
  width: 70%;
  max-height: 70%;
  overflow: auto;
  border: 0px solid #747D84;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99; }
  @media screen and (max-width: 600px) {
    .overlay {
      width: 90%;
      max-height: 90%; } }
  .overlay.open {
    display: block; }
  .overlay .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-family: "Work Sans", "Calibri", sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    z-index: 100; }
    .overlay .close:hover {
      text-decoration: none; }

.slider-wrap {
  width: 100%;
  position: relative;
  margin: 10px 0; }
  .slider-wrap .navigator {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 35px;
    height: 35px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    cursor: pointer; }
    .slider-wrap .navigator.toggle-next {
      right: 30px;
      -webkit-box-shadow: 6px -6px 6px rgba(0, 0, 0, 0.3);
      box-shadow: 6px -6px 6px rgba(0, 0, 0, 0.3);
      border-top: 3px solid #FDFDFD;
      border-right: 3px solid #FDFDFD; }
      .slider-wrap .navigator.toggle-next:hover {
        border-color: rgba(253, 253, 253, 0.5); }
    .slider-wrap .navigator.toggle-prev {
      left: 30px;
      -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
      box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
      border-bottom: 3px solid #FDFDFD;
      border-left: 3px solid #FDFDFD; }
      .slider-wrap .navigator.toggle-prev:hover {
        border-color: rgba(253, 253, 253, 0.5); }

.slider {
  position: relative;
  width: 100%;
  height: 0;
  padding: 56.25% 0 0 0;
  display: block; }
  .slider div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .slider div {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .slider div.active {
      opacity: 1; }
    .slider div img {
      display: none; }

.video-wrap {
  margin: 10px 0;
  position: relative; }

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding: 56.25% 0 0 0;
  display: block; }
  .video iframe, .video video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

#scrollspy {
  height: 20px;
  margin: 0;
  top: 0px;
  left: 0;
  position: fixed;
  width: 100%;
  background: blue;
  z-index: 10000; }

#scrollbar {
  height: 100%;
  width: 0px;
  position: absolute;
  background: red;
  z-index: 9999; }

.scrollspy {
  width: auto;
  height: 100%;
  position: absolute; }
