/* How tu use this mixin:
 * include on the parent container argumemts are as follows:
 * 1. selector: add the complete css selector, as a string
 * 2. items per row: how many items are in a row max.
 * 3++. to make this responsive add breakpoints, separating with a comma, the mixin automatically reduces by 1.
 */
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-black.woff2") format("woff2"), url("../fonts/worksans/worksans-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-bold.woff2") format("woff2"), url("../fonts/worksans/worksans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-extrabold.woff2") format("woff2"), url("../fonts/worksans/worksans-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-extralight.woff2") format("woff2"), url("../fonts/worksans/worksans-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-hairline.woff2") format("woff2"), url("../fonts/worksans/worksans-hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-light.woff2") format("woff2"), url("../fonts/worksans/worksans-light.woff") format("woff");
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-medium.woff2") format("woff2"), url("../fonts/worksans/worksans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/worksans-regular.woff2") format("woff2"), url("../fonts/worksans/worksans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplay/playfairdisplay-black.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplay/playfairdisplay-blackitalic.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-blackitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplay/playfairdisplay-bold.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplay/playfairdisplay-bolditalic.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-bolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplay/playfairdisplay-italic.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplay/playfairdisplay-regular.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Courier Prime Code";
  src: url("../fonts/courier_prime-code/courier_prime-code_italic.woff2") format("woff2"), url("../fonts/courier_prime-code/courier_prime-code_italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Courier Prime Code";
  src: url("../fonts/courier_prime-code/courier_prime-code.woff2") format("woff2"), url("../fonts/courier_prime-code/courier_prime-code.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

body {
  font-family: "Work Sans", "Calibri", sans-serif;
  font-size: 19px;
  line-height: 1.25;
  font-weight: normal; }

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

.containergrid {
  display: grid;
  grid-template-columns: minmax(200px, 3fr) 6fr minmax(200px, 3fr);
  grid-template-areas: "header header header""left-1 content-1 right-1""left-2 content-2 right-1""left-2 content-3 right-2""left-2 content-4 content-4"; }
  .containergrid .header {
    grid-area: header; }
  .containergrid .left-1 {
    grid-area: left-1; }
  .containergrid .left-2 {
    grid-area: left-2; }
  .containergrid .right-1 {
    grid-area: right-1; }
  .containergrid .right-2 {
    grid-area: right-2; }
  .containergrid .content-1 {
    grid-area: content-1; }
  .containergrid .content-2 {
    grid-area: content-2; }
  .containergrid .content-3 {
    grid-area: content-3; }
  .containergrid .content-4 {
    grid-area: content-4; }
  .containergrid header,
  .containergrid div {
    border: 1px solid black;
    margin: 3px; }

.bodygrid {
  display: grid;
  grid-template-rows: 150px auto 100px;
  grid-template-columns: minmax(200px, 3fr) 6fr minmax(200px, 3fr);
  grid-template-areas: "header header  header" "left   content right" "left   footer  right"; }
  .bodygrid header,
  .bodygrid aside,
  .bodygrid main,
  .bodygrid footer,
  .bodygrid section,
  .bodygrid div {
    border: 1px solid black;
    margin: 3px; }
  .bodygrid header {
    grid-area: header; }
  .bodygrid aside.left {
    grid-area: left; }
  .bodygrid aside.right {
    grid-area: right; }
  .bodygrid main {
    grid-area: content; }
  .bodygrid footer {
    grid-area: footer; }
  .bodygrid section {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    .bodygrid section .item-span-1 {
      grid-column-start: auto;
      grid-column-end: span 1; }
    .bodygrid section .item-span-2 {
      grid-column-start: auto;
      grid-column-end: span 2; }
    .bodygrid section .item-span-3 {
      grid-column-start: auto;
      grid-column-end: span 3; }
    .bodygrid section .item-span-4 {
      grid-column-start: auto;
      grid-column-end: span 4; }
    .bodygrid section .item-span-5 {
      grid-column-start: auto;
      grid-column-end: span 5; }
    .bodygrid section .item-span-6 {
      grid-column-start: auto;
      grid-column-end: span 6; }
    .bodygrid section .item-span-7 {
      grid-column-start: auto;
      grid-column-end: span 7; }
    .bodygrid section .item-span-8 {
      grid-column-start: auto;
      grid-column-end: span 8; }
    .bodygrid section .item-span-9 {
      grid-column-start: auto;
      grid-column-end: span 9; }
    .bodygrid section .item-span-10 {
      grid-column-start: auto;
      grid-column-end: span 10; }
    .bodygrid section .item-span-11 {
      grid-column-start: auto;
      grid-column-end: span 11; }
    .bodygrid section .item-span-12 {
      grid-column-start: auto;
      grid-column-end: span 12; }
    .bodygrid section .item-offset-0 {
      grid-column-start: 1; }
    .bodygrid section .item-offset-1 {
      grid-column-start: 2; }
    .bodygrid section .item-offset-2 {
      grid-column-start: 3; }
    .bodygrid section .item-offset-3 {
      grid-column-start: 4; }
    .bodygrid section .item-offset-4 {
      grid-column-start: 5; }
    .bodygrid section .item-offset-5 {
      grid-column-start: 6; }
    .bodygrid section .item-offset-6 {
      grid-column-start: 7; }
    .bodygrid section .item-offset-7 {
      grid-column-start: 8; }
    .bodygrid section .item-offset-8 {
      grid-column-start: 9; }
    .bodygrid section .item-offset-9 {
      grid-column-start: 10; }
    .bodygrid section .item-offset-10 {
      grid-column-start: 11; }
    .bodygrid section .item-offset-11 {
      grid-column-start: 12; }
