// Shortcuts
//-----------

$noborder: 0 solid transparent !default;
$transition: .3s all ease !default;

// SETTINGS
//-------------------
$size-restraint-for-large-screens: true !default; // enable if you want to add a max-width to content on very large screens.
$size-restraint-max-width: 1920px !default;

$gutter: 10px !default; // default spacing

$font-directory: '../fonts' !default;

$code-font-name: 'Courier Prime Code' !default;
$code-font-path: 'courier_prime-code' !default;

$serif-font-name: 'Libre Baskerville' !default;
$serif-font-path: 'librebaskerville' !default;

$sans-serif-font-name: 'Work Sans' !default;
$sans-serif-font-path: 'worksans' !default;

// Font Stacks
$serif: $serif-font-name, 'Times New Roman', serif !default;
$sans-serif: $sans-serif-font-name, 'Calibri', sans-serif !default;
$monospace: $code-font-name, 'Courier', monospace !default;

// Text settings
$main-font: $serif !default;
$main-font-size: 16px !default;
$main-line-height: 1.375 !default;
$main-font-weight: normal !default;
$main-font-color: $main-blue;

$headings-font: $sans-serif !default;
$headings-font-weight: 300;
$headings-font-style: normal;
$headings-text-transform: uppercase;
$headings-text-align: center;

$code-font: $monospace !default;

$hyphenate-paragraphs: true !default;
$hyphenate-headings: false !default;
$paragraph-gap: 1.25rem !default;

$paragraph-text-align: justify !default;

$text-highlighted-color: $main-brown !default;

$link-color: $main-brown !default;
$link-hover-color: $main-brown !default;
$link-line: false !default;
$link-hover-line: true !default;

$blockquote-font: $serif !default;
$blockquote-style: italic !default;
$blockquote-weight: normal !default;
$blockquote-color: $main-brown !default;
$blockquote-border-line: true !default;
$blockquote-border-position: right !default;
$blockquote-border-width: 3px !default;
$blockquote-border-color: currentColor !default;
$blockquote-text-align: right !default;

$boxed-layout: true !default;
$background-color: darken(white, 5%) !default;
$container-background-color: white !default;

$enable-default-grid: true !default;
$container-max-width: 900px;

$column-count: 12 !default;
$section-span: $column-count - 4 !default;
$section-content-span: $section-span - 2 !default;
$section-quote-span: $section-content-span - 2 !default;

$breakpoint-s-to-xs: 600px !default;
$breakpoint-m-to-s: 960px !default;
$breakpoint-l-to-m: 1260px !default;

$overlay-border: 0px solid $main-blue;


$fullscreen-background-size: cover;
$fullscreen-background-position: center center;

$textoverlay-background: black;
$textoverlay-image-opacity: .5;
$textotverlay-text-align: center;
$textoverlay-color: white;
$textoverlay-size: 3.1em;
$textoverlay-line-height: 1.05em;
$textoverlay-font-weight: bold;
$textoverlay-font-style: italic;

$slider-ratio-width: 16;
$slider-ratio-height: 9;
$slider-navigator-size: 35px;
$slider-arrow-color: $whiteish;
$slider-arrow-hover-color: rgba($whiteish, .5);
$slider-arrow-thickness: 3px;
$slider-arrow-shadow: true;

$video-ratio-width: 16;
$video-ratio-height: 9;

$video-overlay-background: rgba(black, .5);

$menu-bg: $main-brown;
$menu-color: white;
$menu-hover-color: rgba(white, .8);
$menu-logo-max-width: 30px;
$nav-toggle-max-width: 40px;
$hamburger-color: $menu-color;
$hambuger-hover-color: $menu-hover-color;

$menu-collapse: 600px;

$scrollspy-height-titles: 20px;
$scrollspy-height: 7px;
$scrollspy-section-bg: rgba(white, .3);
$scrollspy-background: $menu-bg;
$scrollspy-progress: black;
$scrollspy-title-collapse: 500px;
