// Import the toolbox
@import "toolbox/functions";
@import "toolbox/mixins";
@import "toolbox/colors";

// settings
@import "settings";

// Overwriting Variables
@import "overwrite";

// Webfonts
@import "partials/fontloader";

// Resets all default browser Styles
@import "partials/reset";

// All partials
@import "partials/general";
@import "partials/typography";
@import "partials/grid";
@import "partials/overlay";
@import "partials/slider";
@import "partials/video";
@import "partials/backtotop";
@import "partials/scrollspy";
@import "partials/nav";
@import "partials/custom";
