.fork-link{
    @media screen and (max-width: $menu-collapse){
        display: none;
    }
}
pre{
    margin: 2rem 0 !important;
}

.welcome{
    @include flexbox(row, wrap, center, stretch);
    position: relative;
    padding: 0 !important;

    .overlay-content{
        background: rgba($textoverlay-background, $textoverlay-image-opacity);
        @include flexbox(row, wrap, center, center);
    }

}
.logo-wrap{
    max-width: 500px;
    width: 80%;
    margin: 2rem auto;
}
.heinz-logo{
    @include paddinghack(100%, 614.93, 252.39, svg);
}
#heinz_logo{
    .cls-1 {
        font-size: 140.92px;
        font-family: $serif;
    }
    .cls-1,
    .cls-3,
    .cls-7 {
        fill: $bright-blue;
    }
    .cls-2 {
        fill: none;
        stroke: $bright-blue;
        stroke-miterlimit: 10;
    }
    .cls-3 {
        font-size: 40.65px;
        font-family: $sans-serif;
    }
    .cls-4 {
        letter-spacing: -0.03em;
    }
    .cls-5 {
        letter-spacing: -0.03em;
    }
    .cls-6 {
        letter-spacing: -0.02em;
    }
}
.logo-img{
    margin: 2rem 0;
    @include flexbox(row, wrap, center, center);
    img{
        max-height: 115px;
    }

    &.item-span-3{
        img{
            max-height: 90px;
        }
    }
}


$breakpoint: 850px;

$grid-colors: #F5C7CA, #E779AE, #3759A0, #A0CEEC, #EBEBEB, #D7E6E8, #D6D3EE;

@each $c in $grid-colors {
    $i: index($grid-colors, $c);
    .area-#{$i} {
        background: $c;
        box-shadow: inset 0px 0px 5px darken($c, 30%);
    }
}

.customgrid{
    width: 100%;
    height: 100vh;
    align-items: stretch;
    margin: 2rem 0;

    @include gridCreator(
        auto auto auto auto,
        auto auto auto auto,
        (area-1, area-2, area-3, area-4, area-5, area-6, area-7),
        'area-1 area-2 area-3 area-3',
        'area-4 area-2 area-3 area-3',
        'area-4 area-5 area-5 area-6',
        'area-7 area-7 area-7 area-6');

    @media screen and (max-width: $breakpoint){
        @include gridCreator(
            auto auto auto auto auto,
            auto auto,
            (),
            'area-1 area-2',
            'area-3 area-3',
            'area-4 area-5',
            'area-6 area-5',
            'area-7 area-7'
        );
    }
}

.copy-code{
    position: absolute;
    top: 0;
    left: 0;
    font-size: .8em;
    padding: 1px 3px;
    font-family: $headings-font;
    cursor: pointer;
    background: white;
    color: black;
    border: 1px solid black;
    transition: .3s all ease;

    &:hover{
        opacity: .8;
    }
}

.code-display{
    @media screen and (max-width: $menu-collapse){
        display: none;
    }
}
.toggle-code{
    background: $bright-blue;
    color: black-or-white($bright-blue);
    font-size: .7em;
    @extend .btn;
        padding: 3px 20px;
        border-radius: 30px;
    &:after{
        content: 'on';
    }

    &.off{
        background: $background-blue;
        color: black-or-white($background-blue);


        &:after{
            content: 'off'
        }
    }
}
