html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.containergrid{
    @include gridCreator(
        auto auto auto auto,
        minmax($side-left-min-width, 3fr) 6fr minmax($side-right-max-width, 3fr),
        (header, left-1, left-2, right-1, right-2, content-1, content-2, content-3, content-4),
        "header header header",
        "left-1 content-1 right-1",
        "left-2 content-2 right-1",
        "left-2 content-3 right-2",
        "left-2 content-4 content-4"
    );

    header,
    div{
        border: 1px solid black;
        margin: 3px;
    }
}

.bodygrid {
    display: grid;
    grid-template-rows: $header-height auto $footer-height;
    grid-template-columns: minmax($side-left-min-width, 3fr) 6fr minmax($side-right-max-width, 3fr);
    grid-template-areas: "header header  header"
                         "left   content right"
                         "left   footer  right";

    header,
    aside,
    main,
    footer,
    section,
    div{
        border: 1px solid black;
        margin: 3px;
    }

    header {
        grid-area: header;
    }

    aside{
        &.left{
            grid-area: left;
        }

        &.right{
            grid-area: right;
        }
    }

    main{
        grid-area: content;
    }

    footer{
        grid-area: footer;
    }

    section{
        display: grid;
        grid-template-columns: repeat($column-count, 1fr);

        @for $i from 1 through $column-count{
            .item-span-#{$i}{
                grid-column-start: auto;
                grid-column-end: span $i;
            }
        }

        @for $i from 1 through $column-count{
            .item-offset-#{$i - 1}{
                grid-column-start: $i;
            }
        }
    }
}
