@if $enable-default-grid{
    html, body {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    body{
        @include gridCreator(
            auto auto auto,
            12fr,
            (head, main, foot),
            "head",
            "main",
            "foot"
        );
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat($column-count, 1fr);

    @for $i from 1 through $column-count{
        .item-span-#{$i}{
            grid-column-start: auto;
            grid-column-end: span $i;
        }
    }

    @for $i from 1 through $column-count{
        .item-offset-#{$i - 1}{
            grid-column-start: $i;
        }
    }

    section{
        + section{
            border-top: 1px solid darken(white, 5%);
        }
        padding: $gutter 0;

        &:first-of-type{
            padding-top: $gutter * 12;
        }
        &:last-of-type{
            padding-bottom: $gutter * 12;
        }

        @extend .item-span-#{$section-span};
        @extend .item-offset-#{($column-count - $section-span)/2};

        display: grid;
        grid-template-columns: repeat(#{$section-span}, 1fr);

        &.full-width,
        .full-width {
            padding: 0;
            display: grid;
            grid-template-columns: repeat($column-count, 1fr);
            @extend .item-span-#{$column-count};
            @extend .item-offset-0;
            position: relative;

            figure, iframe, video{
                @extend .item-span-#{$column-count};
                @extend .item-offset-0;
                padding: 0;
                line-height: 1;
            }

            div, figcaption, p{
                @extend .item-span-#{$section-content-span};
                @extend .item-offset-#{($section-span - $section-content-span)};
                position: absolute;;
                bottom: 10px;
                left: 0;
            }
        }

        .oversized,
        .has-sidestory{
            @extend .item-span-#{$section-span};
            display: grid;
            grid-template-columns: repeat(#{$section-span}, 1fr);
            margin: $gutter 0;
            position: relative;

            img{
                @extend .item-span-#{$section-span};
            }
            div, figcaption, p{
                @extend .item-span-#{$section-content-span};
                @extend .item-offset-#{($section-span - $section-content-span)/2};
            }

            .sidestory{
                @extend .item-span-#{($section-span - $section-content-span)};
                background: $container-background-color;
                padding: $gutter * 2;
                top: 0;
                width: 100%;
                position: absolute;

                &-left{
                    left: 0;
                    transform: translate(-50%);
                }

                &-right{
                    left: 350%;
                }
            }
        }

        h1, h2, h3, h4, h5, h6, p, img, .content-wide{
            @extend .item-span-#{$section-content-span};
            @extend .item-offset-#{($section-span - $section-content-span)/2};
        }

        blockquote{
            @extend .item-span-#{$section-quote-span};
            grid-column-start: 4;
        }
    }
}
