@if $enable-default-grid{
    html, body {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    body{
        @include gridCreator(
            auto auto auto,
            12fr,
            (head, main, foot),
            "head",
            "main",
            "foot"
        );
        align-items: center;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat($column-count, 1fr);
    align-items: center;

    .grid{
        display: grid;
        grid-template-columns: repeat($column-count, 1fr);
    }

    @for $i from 1 through $column-count{
        .item-span-#{$i}{
            grid-column-start: auto;
            grid-column-end: span $i;
        }

        .item-span-sm-#{$i},
        .item-span-md-#{$i},
        .item-span-lg-#{$i}{
            grid-column-start: auto;
            grid-column-end: span $column-count;
        }
    }

    @for $i from 1 through $column-count{
        .item-offset-#{$i - 1}{
            grid-column-start: $i;
        }

        .item-offset-sm-#{$i},
        .item-offset-md-#{$i},
        .item-offset-lg-#{$i}{
            grid-column-start: auto;
        }
    }

    @media screen and (min-width: $breakpoint-s-to-xs){
        @for $i from 1 through $column-count{
            .item-span-sm-#{$i}{
                grid-column-start: auto;
                grid-column-end: span $i;
            }
        }

        @for $i from 1 through $column-count{
            .item-offset-sm-#{$i - 1}{
                grid-column-start: $i;
            }
        }
    }

    @media screen and (min-width: $breakpoint-m-to-s){
        @for $i from 1 through $column-count{
            .item-span-md-#{$i}{
                grid-column-start: auto;
                grid-column-end: span $i;
            }
        }
        @for $i from 1 through $column-count{
            .item-offset-md-#{$i - 1}{
                grid-column-start: $i;
            }
        }
    }
    @media screen and (min-width: $breakpoint-l-to-m){
        @for $i from 1 through $column-count{
            .item-span-lg-#{$i}{
                grid-column-start: auto;
                grid-column-end: span $i;
            }
        }
        @for $i from 1 through $column-count{
            .item-offset-lg-#{$i - 1}{
                grid-column-start: $i;
            }
        }
    }

    .fullscreen{
        @extend .item-span-#{$column-count};
        background: red;
        height: 100vh;
    }

    section{
        + section{
            border-top: 1px solid darken(white, 5%);
        }
        padding: $gutter 0;

        &:first-of-type{
            padding-top: $gutter * 12;
        }
        &:last-of-type{
            padding-bottom: $gutter * 12;
        }

        @extend .item-span-md-#{$section-span};
        @extend .item-offset-md-#{($column-count - $section-span)/2};

        display: grid;
        grid-template-columns: repeat(#{$section-span}, 1fr);

        &.full-width,
        .full-width {
            padding: 0;
            display: grid;
            grid-template-columns: repeat($column-count, 1fr);
            @extend .item-span-md-#{$column-count};
            @extend .item-offset-0;
            position: relative;

            figure, iframe, video{
                @extend .item-span-md-#{$column-count};
                @extend .item-offset-0;
                padding: 0;
                line-height: 1;
            }

            div, figcaption, p{
                @extend .item-span-md-#{$section-content-span};
                @extend .item-offset-md-#{($section-span - $section-content-span)};
                position: absolute;;
                bottom: 10px;
                left: 0;
            }
        }

        .oversized,
        .has-sidestory{
            @extend .item-span-#{$section-span};
            display: grid;
            grid-template-columns: repeat(#{$section-span}, 1fr);
            margin: $gutter 0;
            position: relative;

            img{
                @extend .item-span-md-#{$section-span};
            }
            div, figcaption, p{
                @extend .item-span-#{$section-content-span};
                @extend .item-offset-#{($section-span - $section-content-span)/2};
            }

            .sidestory{
                @extend .item-span-md-#{($section-span - $section-content-span)};
                background: $container-background-color;
                padding: $gutter * 2;
                top: 0;
                width: 100%;
                position: absolute;

                @media screen and (max-width: $breakpoint-l-to-m){
                    width: 150%;
                }

                @media screen and (max-width: $breakpoint-m-to-s){
                    width: 100%;
                    top: auto;
                    position: relative;
                    grid-column-start: ($section-span - $section-content-span);
                    grid-column-end: span $section-content-span;
                }

                &-left{
                    left: 0;
                    transform: translate(-50%);

                    @media screen and (max-width: $breakpoint-l-to-m){
                        transform: translate(-67%);
                    }

                    @media screen and (max-width: $breakpoint-m-to-s){
                        left: auto;
                        transform: translate(0%);
                    }
                }

                &-right{
                    left: 350%;
                    @media screen and (max-width: $breakpoint-m-to-s){
                        left: auto;
                    }
                }
            }
        }

        h1, h2, h3, h4, h5, h6, p, img, .content-wide{
            @extend .item-span-#{$section-content-span};
            @extend .item-offset-#{($section-span - $section-content-span)/2};
        }

        blockquote{
            @extend .item-span-#{$section-quote-span};
            grid-column-start: 4;
        }
    }
}
