.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $menu-bg;
    color: $menu-color;
    z-index: 10000;
    font-family: $headings-font;
    text-transform: uppercase;
    box-shadow: 0 0 30px rgba(black, .3);

    @include flexbox(row, wrap, space-between, center);

    .nav-toggle{
        max-width: $nav-toggle-max-width;
        padding: $gutter/2 $gutter;
        cursor: pointer;
        display: none;

        path{
            fill: $hamburger-color;
        }

        &:hover{
            path{
                fill: $hambuger-hover-color;
            }
        }

        @media screen and (max-width: $menu-collapse){
            display: inline-block;
        }
    }
    .branding{
        display: inline-block;
        padding: $gutter/2 $gutter;
        @include flexbox(row, wrap, space-between, center);
        span{
            padding: $gutter/2;
        }
        img{
            max-width: $menu-logo-max-width;
        }
    }
    a, span{
        color: $menu-color;
        cursor: pointer;

        &:hover{
            color: $menu-hover-color;
        }
    }

    > ul{
        padding: 0 $gutter;
        list-style: none;
        list-style-type: none;
        position: relative;
        background: $menu-bg;
        margin: 0;
        z-index: 10001;

        @media screen and (max-width: $menu-collapse){
            position: fixed;
            top: 0;
            left: 0;
            width: 300px;
            height: 100%;
            transform: translateX(-300px);
            transition: .3s all ease;

            &.active{
                transform: translateX(0);
            }
        }


        li{
            list-style: none;
            display: inline-block;

            @media screen and (max-width: $menu-collapse){
                display: block;
            }
        }

        ul{
            background: $menu-bg;
            position: absolute;
            padding: $gutter/2;
            width: 100%;
            margin: 0;


            @media screen and (max-width: $menu-collapse){
                position: relative;
            }

            li{
                display: block;
            }
        }
    }
}
