html, body{
    font:{
        family: $main-font;
        size: $main-font-size;
        weight: $main-font-weight;
    }
    line-height: $main-line-height;
    color: $main-font-color;
}

p{
    text-align: $paragraph-text-align;

    @if $hyphenate-paragraphs {
        hyphens: auto;
    }

    & + p{
        margin-top: $paragraph-gap;
    }
}

@for $i from 1 through 6{
    h#{$i}{
        font: {
            family: $headings-font;
            weight: $headings-font-weight;
            style: $headings-font-style;
        }
        text-transform: $headings-text-transform;
        text-align: $headings-text-align;

        @if $hyphenate-headings {
                hyphens: auto;
        }
    }
}

h1{
    font-size: 3em;
    line-height: 1.05;
    color: $main-blue;
    margin-bottom: 2.5rem;
}

h2{
    font-size: 2.25em;
    line-height: 1.25;
    margin-bottom: 1.25rem;
}

h3{
    font-size: 1.75em;
    line-height: 1.25;
    margin-bottom: 1.25rem;
}

h4{
    font-size: 1.125em;
    line-height: 1.22;
    margin-bottom: .5rem;
    font-weight: normal;
}

h5{
    font-size: 1.1em;
    margin-bottom: .3rem;
    font-weight: normal;
}

h6{
    font-size: 1em;
    margin-bottom: .25rem;
    font-weight: normal;
}


// links
a,
.toggle{
    transition: $transition;
    color: $link-color;
    cursor: pointer;

    @if $link-line == false{
        text-decoration: none;
    }

    &:hover{
        color: $link-hover-color;
        @if $link-hover-line {
            text-decoration: underline;
        }
    }
}

blockquote{
    font:{
        family: $blockquote-font;
        style: $blockquote-style;
        weight: $blockquote-weight;
        size: 1.5em;
    }
    line-height: 1.4583;
    @include center();
    text-align: right;
    color: $blockquote-color;

    @if $blockquote-border-line{
        border-#{$blockquote-border-position}: $blockquote-border-width solid $blockquote-border-color;
    }

    padding: $gutter;
    padding-right: $gutter * 2;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}
// helper classes for text
.text{
    &-center{
        text-align: center;
    }

    &-justify{
        text-align: justify;
    }

    &-left{
        text-align: left;
    }

    &-right{
        text-align: right;
    }

    &-hyphen{
        hyphens: auto;
    }

    &-no-hyphen{
        hyphens: none;
    }

    &-highlighted{
        background: $text-highlighted-color;
        color: black-or-white($text-highlighted-color);
    }

    &-small{
        font-size: .8em;
    }

    &-muted{
        opacity: .5;
    }

    &-lead{
        font-weight: bold;
        margin-bottom: 1.25rem;
    }
}

figcaption{
    font-style: italic;
    margin-bottom: 1.25rem;
    margin-top: .5rem;
}
