// TOOLBOX COLORS
//---------------------------------------------------------------------
$whiteish: #FDFDFD;
$blackish: #202020;

$main-blue: #747D84 ;
$light-blue: #BABEC2;
$background-blue: #CCCFD0;

$main-brown: #968572;
$light-brown: #C5BAA9;
